footer,
header {
  background-color: #d8a377;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Poiret One";
  src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf);
}

p {
  font-family: "montserrat";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poiret One";
}

.index.CTA {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.25);
  color: black;
  padding: 40px 30px;
  border-radius: 40px;
  text-decoration: none;
  font-family: "montserrat";
  text-align: center;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.35);
}
