footer,
header {
  background-color: #d8a377;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Poiret One";
  src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf);
}

p {
  font-family: "montserrat";
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poiret One";
}

h2 {
  background-color: #e1d6c0;
}

a {
  text-decoration: none;
}

.section1 {
  background-color: #d8a377;
  padding: 20px;
}

.section2 {
  background-color: #e1d6c0;
  padding: 20px;
}

.index_cta {
  display: inline-block;
  background-color: #d4762c;
  color: black;
  border-radius: 5rem;
  padding: 1rem;
  text-decoration: none;
  font-family: "montserrat";
  box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
  align-items: center;
  margin-bottom: 10px;
}

.index_cta2 {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  padding: 3rem 2rem;
  border-radius: 3rem;
  text-decoration: none;
  font-family: "montserrat";
  text-align: center;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.35);
  margin-bottom: 10px;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Tablet */
@media (width>=700px) {
  h2 {
    background-color: #e1d6c0;
  }
  .button-text {
    font-size: 16px;
  }

  .index_cta {
    display: inline-block;
    background-color: #d4762c;
    color: black;
    border-radius: 5rem;
    padding: 1rem;
    text-decoration: none;
    font-family: "montserrat";
    box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
    align-items: center;
    margin-bottom: 10px;
  }

  .index_cta2 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    padding: 3rem 2rem;
    border-radius: 3rem;
    text-decoration: none;
    font-family: "montserrat";
    text-align: center;
    box-shadow: 1px 4px rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
    align-items: center;
  }
}

/* Desktop */
@media (width>=1200px) {
  .index_cta2 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    padding: 3rem 2rem;
    border-radius: 3rem;
    text-decoration: none;
    font-family: "montserrat";
    text-align: center;
    box-shadow: 1px 4px rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
    align-items: center;
  }

  .index_cta {
    display: inline-block;
    background-color: #d4762c;
    color: black;
    border-radius: 5rem;
    padding: 1rem;
    text-decoration: none;
    font-family: "montserrat";
    box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
    align-items: center;
    margin-bottom: 10px;
  }

  h2 {
    background-color: #e1d6c0;
  }
}
