footer {
  background-color: #d8a377;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Poiret One";
  src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf);
}

p {
  font-family: "montserrat";
  padding: 10px;
  font-size: 1rem;
}

.p_profil {
  text-align: center;
}
img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  text-align: center;
  margin: auto;
}

.profil_img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  text-align: center;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poiret One";
  text-align: center;
}

.h1_index {
  font-family: "Poiret One";
  text-align: left;
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  background-color: #e1d6c0;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
}

h3 {
  text-align: right;
}

a {
  text-decoration: none;
}

.section1 {
  background-color: #d8a377;
  padding: 20px;
}

.section2 {
  background-color: #e1d6c0;
  padding: 20px;
}

.section3 {
  background-color: #e1d6c0;
  padding: 20px;
}

.section4 {
  background-color: #e1d6c0;
  padding: 20px;
}

.section5 {
  background-color: #e1d6c0;
  padding: 20px;
}

.section6 {
  background-color: #e1d6c0;
  padding: 20px;
}

.index_cta {
  display: flex;
  width: 250px;
  height: 55px;
  background-color: #d4762c;
  color: black;
  border-radius: 5rem;
  padding: 1rem;
  text-decoration: none;
  font-family: "montserrat";
  box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  margin: 10px auto;
}

.index_cta2 {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  padding: 1rem;
  height: 135px;
  width: 135px;
  border-radius: 3rem;
  text-decoration: none;
  font-family: "montserrat";
  text-align: center;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.35);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.style-guide-ctas {
  display: grid;
  justify-content: space-evenly;
  font-family: "montserrat";
  grid-template-columns: 1fr;
  gap: 30px;
  row-gap: 50px;
}

.guide_cta {
  display: flex;
  width: 250px;
  height: 60px;
  background-color: #6b692c;
  color: black;
  border-radius: 5rem;
  padding: 1rem;
  text-decoration: none;
  font-family: "montserrat";
  box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
  align-items: center;
  text-align: center;
  margin: 10px auto;
  justify-content: center;
}

.profil_cta {
  display: inline-block;
  height: 55px;
  width: 100%;
  background-color: #e1d6c0;
  padding: 1rem;
  border-radius: 12px;
  font-family: "montserrat";
  border: 1px solid black;
  justify-content: center;
  text-align: center;
}

.header_cta {
  display: flex;
  width: 130px;
  height: 55px;
  background-color: #d4762c;
  color: black;
  border-radius: 5rem;
  padding: 1rem;
  text-decoration: none;
  font-family: "montserrat";
  box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
  align-items: center;
  margin-bottom: 10px;
  margin: 10px auto;
  justify-content: center;
}

.header_cta2 {
  display: flex;
  width: 145px;
  height: 55px;
  background-color: #d4762c;
  color: black;
  border-radius: 5rem;
  padding: 1rem;
  text-decoration: none;
  font-family: "montserrat";
  box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
  align-items: center;
  margin-bottom: 10px;
  margin: 10px auto;
  justify-content: center;
}

/* Tablet */
@media (width>=700px) {
  h2 {
    background-color: #e1d6c0;
  }
  .button-text {
    font-size: 16px;
  }

  .style-guide-ctas {
    grid-template-columns: 1fr 1fr;
  }

  .index_cta {
    display: flex;
    width: 250px;
    height: 55px;
    background-color: #d4762c;
    color: black;
    border-radius: 5rem;
    padding: 1rem;
    text-decoration: none;
    font-family: "montserrat";
    box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
    align-items: center;
    text-align: center;
    margin: 10px auto;
    justify-content: center;
  }

  .index_cta2 {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    padding: 1rem;
    height: 135px;
    width: 135px;
    border-radius: 3rem;
    text-decoration: none;
    font-family: "montserrat";
    text-align: center;
    box-shadow: 1px 4px rgba(0, 0, 0, 0.35);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
  }

  .header_cta {
    display: flex;
    width: 135px;
    height: 55px;
    background-color: #d4762c;
    color: black;
    border-radius: 5rem;
    padding: 1rem;
    text-decoration: none;
    font-family: "montserrat";
    box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
    align-items: center;
    margin-bottom: 10px;
    margin: 10px auto;
    justify-content: center;
  }
  .header_cta2 {
    display: flex;
    width: 145px;
    height: 55px;
    background-color: #d4762c;
    color: black;
    border-radius: 5rem;
    padding: 1rem;
    text-decoration: none;
    font-family: "montserrat";
    box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
    align-items: center;
    margin-bottom: 10px;
    margin: 10px auto;
    justify-content: center;
  }
}

/* Desktop */
@media (width>=1200px) {
  .style-guide-ctas {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .index_cta2 {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    padding: 1rem;
    height: 135px;
    width: 135px;
    border-radius: 3rem;
    text-decoration: none;
    font-family: "montserrat";
    text-align: center;
    box-shadow: 1px 4px rgba(0, 0, 0, 0.35);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
  }

  .index_cta {
    display: flex;
    width: 250px;
    height: 55px;
    background-color: #d4762c;
    color: black;
    border-radius: 5rem;
    padding: 1rem;
    text-decoration: none;
    font-family: "montserrat";
    box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
    align-items: center;
    text-align: center;
    margin: 10px auto;
  }

  .header_cta {
    display: flex;
    width: 135px;
    height: 55px;
    background-color: #d4762c;
    color: black;
    border-radius: 5rem;
    padding: 1rem;
    text-decoration: none;
    font-family: "montserrat";
    box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
    align-items: center;
    margin-bottom: 10px;
    margin: 10px auto;
    justify-content: center;
  }
  .header_cta2 {
    display: flex;
    width: 145px;
    height: 55px;
    background-color: #d4762c;
    color: black;
    border-radius: 5rem;
    padding: 1rem;
    text-decoration: none;
    font-family: "montserrat";
    box-shadow: 1px 3px rgba(103, 103, 103, 0.35);
    align-items: center;
    margin-bottom: 10px;
    margin: 10px auto;
    justify-content: center;
  }

  h2 {
    background-color: #e1d6c0;
  }
}
