* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-evenly;
  font-family: "montserrat";
}

.logo {
  width: 125px;
  height: 125px;
  display: grid;
  justify-content: left;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #d8a377;
  position: sticky;
  top: 0;
  box-shadow: 0 0 6px 2px #00000030;
  z-index: 999;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

header {
  padding: 20px;
}

footer {
  padding: 20px;
  display: grid;
  justify-content: left;
}

.grid-1-1_item {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-top: 50px;
  padding-left: 100px;
}

.col {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Tablet */
@media (width>=700px) {
  main {
    margin: 0 auto;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-right: 200px;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: 30px;
  }

  .index_flex {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
    justify-content: center;
    align-items: center;
  }

  .grid_1-1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 66%;
    margin: auto;
  }
}

/* Desktop */
@media (width>=1200px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    align-items: center;
  }

  .index_flex {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
    justify-content: center;
    align-items: center;
  }

  .grid_1-1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 66%;
    margin: auto;
  }

  .grid_1-1 {
    max-width: 800px;
    margin: auto;
  }
}

@media (max-width: 700px) {
  header {
    display: none;
  }
}
