* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

/* Tablet */
@media (width>=700px) {
  main {
    max-width: 1000px;
    margin: 0 auto;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .order {
    order: -1;
  }
}

/* Desktop */
@media (width>=1200px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .order {
    order: -1;
  }
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-self: center;
}
