body {
  margin: 0;
  max-width: 900px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

dd {
  margin: 0;
}

img {
  max-width: 100%;
}

footer {
  padding: 20px;
}

main {
  margin: 0;
}

.max_width {
  max-width: 65ch;
}

@media (width >=600px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    padding-bottom: 75px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 30px;
  }

  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-items: center;
    column-gap: 30px;
  }

  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    column-gap: 30px;
  }

  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    column-gap: 30px;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid12 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 30px;
  }

  .flex_col {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
  }

  .justify-content {
    justify-content: space-between;
  }

  .align-img {
    text-align: center;
  }

  .img1 {
    display: grid;
    grid-column: 2 span;
    grid-row: 2 span;
  }

  .img2 {
    display: grid;
    grid-column: 3 / 4;
  }

  .img3 {
    display: grid;
    grid-column: 4 / 4;
  }

  .img4 {
    display: grid;
    grid-column: 3 / 5;
  }

  .img5 {
    display: grid;
    grid-column: 1 / 2;
  }

  .img6 {
    display: grid;
    grid-column: 2 / span 3;
  }

  .order {
    order: -1;
  }

  .order-1 {
    order: 1;
  }

  /* 
  .col {
    display: grid;
    grid-column: 1;
  } */
}
